# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist
dist-ssr
*.local

# Testing
/coverage
/cypress/videos/
/cypress/screenshots/

# Environment Variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.temp/

# Build output
/build

# Temporary files
.DS_Store
Thumbs.db
*.pem

# Debug
.debug/

# Local Netlify folder
.netlify

# Optional
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local